<a href="https://colab.research.google.com/github/SagarNikam09/Task_CB_ai/blob/main/task_CB_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
sample_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'],
    'Math': [85, 90, None, 88, 92, 87],
    'Science': [88, None, 85, 90, 89, 86],
    'English': [90, 87, 89, None, 91, 88],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male']
}
df = pd.DataFrame(sample_data)

print("Sample data created:")
print(df)

# Process the sample data
numeric_columns = ['Math', 'Science', 'English']
for col in numeric_columns:
    df[col] = df[col].fillna(df[col].mean())

df['Gender_Binary'] = df['Gender'].map({'Male': 1, 'Female': 0})
summary = df.groupby('Gender')[numeric_columns].mean().round(2)

print(f"\nSummary by Gender:")
print(summary)

Sample data created:
      Name  Math  Science  English  Gender
0    Alice  85.0     88.0     90.0  Female
1      Bob  90.0      NaN     87.0    Male
2  Charlie   NaN     85.0     89.0    Male
3    Diana  88.0     90.0      NaN  Female
4      Eve  92.0     89.0     91.0  Female
5    Frank  87.0     86.0     88.0    Male

Summary by Gender:
         Math  Science  English
Gender
Female  88.33     89.0     90.0
Male    88.47     86.2     88.0

In [4]:
df.to_csv('student_data.csv')

Q4]

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
n_samples = 150
np.random.seed(42)

area_base = np.random.normal(1600, 400, n_samples)
area = np.clip(area_base, 600, 3500).round().astype(int)


bedrooms_base = area / 500
bedrooms_noise = np.random.normal(0, 0.5, n_samples)
bedrooms = np.round(bedrooms_base + bedrooms_noise)
bedrooms = np.clip(bedrooms, 1, 6).astype(int)


price_per_sqft = np.random.normal(120, 15, n_samples)
price_per_sqft = np.clip(price_per_sqft, 80, 200)


area_price = area * price_per_sqft
bedroom_bonus = bedrooms * 25000

location_multiplier = np.random.normal(1.0, 0.15, n_samples)
location_multiplier = np.clip(location_multiplier, 0.7, 1.4)


market_noise = np.random.normal(0, 15000, n_samples)


price = (area_price + bedroom_bonus) * location_multiplier + market_noise
price = np.clip(price, 50000, 800000).round().astype(int)


df = pd.DataFrame({
    'area': area,
    'bedrooms': bedrooms,
    'price': price
})

In [8]:
df.to_csv('house_data.csv')